.Blogs {
  margin-top: 2%;
  padding-top: 1%;
  /* background-color: #F3F3F3; optional: add background color */
}

.Blogs h2 {
  font-size: 2.25rem;
  font-family: Helvetica; /* Multiple font families */
  display: block;
  margin: 2rem 0px 2rem; 
  text-align: center;
  color: #FF751A;
}

.butt {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.butt a {
  text-align: center;
}

.butt button {
  background-color: #FF751A; /* Red background by default */
  font-family: "Roboto", sans-serif;
  border: none; 
  cursor: pointer;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

.butt button:hover {
  background-color: #ec6a13;
}

/*Cards CSS*/

.cards {
  display: flex;
  justify-content: flex-start;
  margin-left: 13%;
  margin-right: 13%;
  padding-bottom: 1%;
  padding-top: 1%;
  flex-wrap: wrap;
}

.card {
  position: relative; 
  background-color: #FD9066;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: calc(33.33% - 20px); /* Adjusted width calculation */
  margin: 10px;
}

.card a {
  position: absolute;
  bottom: 20px; 
  left: 20px; 
  color: black;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Proxima Nova", sans-serif; /* Proxima Nova font */
  font-weight: bold;
}

.card p {
  font-size: 14px;
  color: #000000;
  font-family: Futura, sans-serif; /* Futura font family */
  text-align: justify;
  margin-top: 2rem;
}

.date {
  position: absolute; 
  top: 20px; 
  left: 20px; 
  font-size: 14px;
  color: #666;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .cards {
    margin-left: 10%;
    margin-right: 10%;
  }

  .card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 768px) {
  .cards {
    margin-left: 5%;
    margin-right: 5%;
  }

  .card {
    width: 100%; /* One card per row */
  }

  .card {
    padding: 30px;
  }

  .butt {
    flex-direction: column;
    align-items: center;
  }

  .butt button {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .Blogs h2 {
    font-size: 1.75rem;
  }

  .card {
    padding: 20px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  .butt button {
    font-size: 12px;
    padding: 10px;
  }
}