/* courses-int.css */

.dummyspace {
  height: 8rem;
}

/* Add styles for .track-page-sub-heading */
.track-page-sub-heading {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.5rem;
  color: #FF751A; /* Set color to custom CSS variable --mbr */
  font-weight: 758;
  margin-top: 0.5rem;
  margin-left: 25px;
  margin-bottom: 0; /* Reset margin-bottom */
}

/* Override default h2 styles */
.section h1 {
  font-family: Helvetica;
  font-size: 69px;
  color: #FF751A; 
  font-weight: 700;
  text-align: center;
}

/* Reset default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* courses-int.css */

.max-w-screen-xl {
  max-width: none; /* Remove max-width restriction */
}

.course-card-container {
  display: flex;
  justify-content: center; /* Center the card horizontally */
  padding: 15px;
}

/* For big screens, adjust the layout */
@media (min-width: 1024px) {
  .course-card-container {
    padding-top: 100px; /* Adjust the top padding as needed */
  }
}

.course_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.course_card {
  width: 450px;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #FF751A;
  color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.course_details {
  height: 100%;
  min-width: 24.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.course_img {
  background: url('../assets/coursecard.png') center center; /* Adjust the path if necessary */
  background-size: cover;
  height: 15rem;
  border-radius: 0.5rem;
  display: block;
}

.course_img1 {
  background: url('../assets/cyberforsenic.png') center center; /* Adjust the path if necessary */
  background-size: cover;
  height: 15rem;
  border-radius: 0.5rem;
  display: block;
}

.course_details_in {
  padding: auto;
  color: #fff;
}

.course_title {
  padding: auto;
  font-size: 1.4rem;
  margin: 1rem 0 0;
  font-weight: 900;
}

.course_rate {
  padding: 0.5rem 0;
}

.course-instructor {
  display: flex;
  gap: 1rem;
  color: #fff;
  align-items: center;
  align-content: center;
}

.course-btn-flex {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.button {
  -webkit-text-size-adjust: 100%;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #ffffff none;
  border: 1px solid var(--mbr);
  color: rgba(0, 0, 0, .6);
  font-family: "Google Sans Text", Roboto, Arial, sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
  user-select: none;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.white-orange {
  background-color: #fff !important;
  color: #FF751A !important;
}

/* Add styles for .course-card */
.course-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: calc(50% - 10px); /* Adjust width and spacing as needed */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adjust margin to control space between cards */
}

.course-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.course-card p {
  font-size: 1rem;
}

.real_rate {
  text-decoration: line-through;
  padding-right: 9px;
}

.discount_cent {
  font-weight: 700;
}

.course_rate {
  padding: 0.5rem 0;
}

.discount_rate {
  font-size: 1.1rem;
  font-weight: 700;
  padding-right: 1rem;
}

.rating-stars {
  padding-right: 2px;
}
