.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    flex-direction: column;
}

.center h1 {
    text-align: center;
    font-weight: 550;
    margin-bottom: 20px;
}

.center h2 {
    margin-top: 20px;
    font-weight: 550;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"] {
    text-align: center;
}

button {
    background: #ff751a !important;
    color: #fff !important;
    padding: 10px 20px;
    cursor: pointer;
}

.orange-btn {
    border: 1px solid #ff751a;
    border-radius: 5px;
    font-weight: 550;
    display: inline-block;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .center h1 {
        font-size: 24px;
    }

    input[type="email"] {
        width: 80%;
    }

    button {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .center h1 {
        font-size: 20px;
    }

    input[type="email"] {
        width: 90%;
    }

    button {
        width: 90%;
    }
}
