/* Navbar.css */

.Navbar {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Center-align navbar items */
  align-items: center;
  padding: 10px 20px;
  background-color: white; /* Transparent background */
  z-index: 100;
  transition: top 0.3s ease, background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition for top, opacity and background color */
}

.Navbar.hide {
  top: -100px; /* Adjust as necessary to hide the Navbar */
  opacity: 0; /* Hide the navbar */
}

.Navbar.scrolled-up {
  background-color: white; /* Change background color to white when scrolled up */
  color: black; /* Change font color to black when scrolled up */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 40px; /* Adjust logo height as needed */
  width: auto;
  margin-right: 20px; /* Adjust margin to position logo closer to "Blogs" */
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links > * {
  margin-right: 30px; /* Increased margin between navbar items */
}

.navbar-links .dropdown {
  position: relative;
}

.navbar-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px; /* Adjust as needed */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  z-index: 1;
}

.navbar-links .dropdown:hover .dropdown-content {
  display: block;
}

.navbar-links .dropdown-content a {
  color: black;
  padding: 5px 10px; /* Adjust padding for dropdown items */
  text-decoration: none;
  display: block;
  border-radius: 5px; /* Add border radius */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and color change */
}

/* Apply button style to all navbar text items */
.navbar-links .navbar-text {
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition for background color, color, and border color change */
}

/* Apply hover effect to all navbar text items */
.navbar-links .navbar-text:hover,
.login-button:hover,
.signup-button:hover {
  background-color: #ff751a;
  color: white; /* Change font color to white when hovered */
  border-color: #ff751a; /* Change border color when hovered */
}

/* Orange horizontal line under the dropdown menu for courses when hovered over */
.navbar-links .dropdown-content:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff751a; /* Orange color */
  position: absolute;
  bottom: 0;
  left: 0;
}

.transparent-bg {
  background-color: white !important;
}

.login-button,
.signup-button {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px; /* Add border radius */
  transition: background-color 0.3s ease;
}

/* White underline for selected navbar item */
.selected {
  border-bottom: 2px solid white;
}

/* Apply Google Sans Text font to specific navbar elements */
.navbar-text,
.login-button,
.signup-button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* Responsive Styling */

/* For devices with a max-width of 768px (tablets and small screens) */
@media (max-width: 768px) {
  .navbar-links > * {
    margin-right: 15px; /* Reduce margin between navbar items */
  }
}

/* For devices with a max-width of 480px (mobile phones) */
@media (max-width: 480px) {
  .logo img {
    height: 30px; /* Decrease logo size for smaller screens */
  }
  
  .navbar-links {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: flex-start; /* Align items to the start for smaller screens */
  }
  
  .navbar-links > * {
    margin-right: 0; /* Remove margin between navbar items */
    margin-bottom: 10px; /* Add margin bottom between navbar items */
  }
  
  .navbar-links .dropdown-content {
    min-width: 120px; /* Adjust min-width for dropdown items */
  }
}
