/* Header.css */

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  background-color: #ff751a; /* Original orange background color */
  z-index: 100;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.hide {
  opacity: 0;
}
